<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>reset password</title>
</head>
<body>
    <p>Dear {{ user.username }},</p>
<p>
    To reset password
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">
        click to reference
    </a>.
</p>
<p>Another way, you can paste this reference to browser addsess string:</p>
<p>{{ url_for('reset_password', token=token, _external=True) }}</p>
<p>If you don't request password reset, ignore this message.</p>
<p>With respect,</p>
<p>PyBlog team</p>
</body>
</html>
